.container{
    max-width: 1140px;
    margin: auto;
}
nav{
    width: 50%;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    background-color: #b1a855f2;
    align-items: center;
    padding: 0px 10px;
    border-radius: 25px;
}
.item{
    display: flex;
    justify-content: space-between;
    /* padding: 5px 20px; */
    padding-left: 0px;
}
a{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 30px;
    border-radius: 19px;
}
li{
    list-style: none;
}
a:hover{
    background-color: blueviolet;
    color: red;
}