.con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(1,1fr 1 3fr); */
    grid-template-rows: repeat(3,200px);
    gap: 5px;
}
.box{
    /* width: 100px; */
    /* height: 100px; */
}
.box1{
    background-color: red;
    /* align-self: end; */
    grid-column-start: 1;
    grid-column-end: 4;
}
.box2{
    background-color: #8d6cd6;
    /* align-self: center; */
    grid-row-start: 3;
    grid-row-end: 3;
}
.box3{
    background-color: rgb(0, 255, 247);
}
.box4{
    background-color: #55ff00;
}
.box5{
    background-color: #d39f63;
}
.box6{
    background-color: #634505;
}